@import "@servicenow/sass-kit/host";

#container {
  height: 50px;
  width: 120px;
  border-radius: 12px;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  border: solid 2px #85dead;
  transition: all 0.5s ease;
}

.dark {
  background-color: #030717;
  color: #85dead;
}

.light {
  background-color: #85dead;
  color: #030717;
}

#text {
  font-size: 20px;
}
